header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightseagreen;
    color: aliceblue;
    padding: 1rem 2rem;
    box-shadow: var(--shadow);
}

header a {
    color: #fff;
    text-decoration: none;
}

header .logo {
    font-size: 1.25rem;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a{
    margin-right: 1rem;
    font-weight: 700;
    display: inline-block;
    margin-right: 1rem;
}

.icon {
    margin-right: 0.5rem;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 6rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cake-img{
    width: 100px;
    max-width: 500px;
}

main h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
}

main h1 span {
    font-weight: 700;
}

main p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

form label {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

form input,
form textarea {
    padding: 0.25rem 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: var(--font);
}

.btn {
    display: block;
    background: var(--color);
    color: #fff;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
    text-decoration: none;
    text-align: center;
    box-shadow: var(--shadow);
}

main h3 {
    margin-bottom: 4rem;
}