@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font: 'Roboto', sans-serif;
  --color: magenta;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}